@inherits LayoutComponentBase

<div class="d-flex" style="height:100vh;">
    <!-- Sidebar -->
    <NavMenu />

    <!-- Main content -->
    <div class="flex-grow-1 p-3">
        @Body
    </div>
</div>
