@inject NavigationManager NavigationManager

<nav class="sidebar bg-dark text-white p-3">
    <h4 class="text-center mb-4">Asset Management</h4>

    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/employees">Employees</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/assets">Assets</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/assignments">Assignments</a>
        </li>
        <li class="nav-item mt-4">
            <a class="nav-link text-white" href="/login">Logout</a>
        </li>
    </ul>
</nav>
